@use "../scss/abstracts/" as *;

.mainPage {
  height: 450px;
  padding: $largeSpacing;

  .notes {
    padding: $largeSpacing;
    flex-wrap: wrap;
    @include flex(row);

    @include tablet {
      @include flex(row, flex-start);
    }
  }
}
