@use "../scss/abstracts/" as *;

.createNote {
  position: relative;
  margin: 0 auto $largeSpacing;
  width: 100%;
  background: #fff;
  padding: $smallSpacing;
  border-radius: 7px;
  box-shadow: 0 1px 5px #8a8989;
  @include trans(all 0.4s ease);

  &__expanded {
    transform: translateY(-10px);
    height: 80px;
  }

  & > input {
    border: none;
    width: 100%;
    max-height: 40px;
    padding: $smallSpacing;
  }

  & > button {
    position: absolute;
    bottom: -18px;
    width: 36px;
    height: 36px;
    background: var(--primaryColor);
    color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    font-size: 25px;
    z-index: 10;
    @include trans(all 0.8s ease);
    &:disabled {
      background-color: #8a8989;
    }
    &:hover:enabled {
      transform: rotate(360deg);
    }
  }

  & > button[type="button"] {
    right: 60px;
  }

  & > button[type="submit"] {
    display: none;
    right: 18px;
    &.expanded {
      display: block;
    }
  }

  @include tablet {
    width: 50%;
  }
}
