@use "../scss/abstracts/" as *;

.mainHeader {
  @include flex(row, unset, center);
  position: fixed;
  inset: 0;
  width: 100%;
  height: $mainHeaderSize;
  padding: $mediumSpacing $largeSpacing;
  background-color: var(--bgc);
  color: var(--text-color);
  box-shadow: $mainBoxShadow;
}
