@use "../scss/abstracts/" as *;

.container {
  position: fixed;
  width: 80%;
  height: 220px;
  overflow: hidden;
  // Centering
  inset: 0;
  margin: auto;
  // Centering
  @include flex(column, flex-start);
  background-color: var(--secondaryColor);
  // border: $formBorder;
  box-shadow: $secondBoxShadow;
  z-index: 10;

  & > .titlebar {
    @include flex();
    width: 100%;
    background: var(--bgc);
    color: var(--text-color);
    text-align: center;
    padding: $smallSpacing;

    // close button
    & > :last-child {
      margin-left: auto;
    }
  }

  & > .message {
    width: 100%;
    padding: $largeSpacing;
    font-weight: bold;
  }

  & > .buttons {
    @include flex(row, flex-end);
    margin-top: auto;
    padding: $mediumSpacing;
    width: 100%;

    & > :last-child {
      margin-left: $smallSpacing;
    }
  }

  @include tablet {
    width: 40%;
  }
}
